@model Client
<form method="post" class="form-control" enctype="multipart/form-data">
    <div>
        <label class="mb-3 ">Logo</label>
        <input class="form-control" accept="image/*" asp-for="Photo" /><br />
        <span class="text-danger" asp-validation-for="Photo"></span>
    </div>
    <div>
        <button type="submit" class="btn btn-secondary">Create Logo</button>
    </div>
</form>