@model Cart
<form method="post" class="form-control">
    <div>
        <label class="mb-3 ">Title</label>
        <input class="form-control" asp-for="Title" /><br />
        <span class="text-danger" asp-validation-for="Title"></span>
    </div>
    <div>
        <label class="mb-3 ">Description</label>
        <input class="form-control" asp-for="Description" /><br />
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>
    <div>
        <label class="mb-3 ">Iconurl</label>
        <input class="form-control" asp-for="IconUrl" /><br />
        <span class="text-danger" asp-validation-for="IconUrl"></span>
    </div>
    <div>
        <button type="submit" class="btn btn-secondary">Edit Cart</button>
    </div>
</form>

