@model Featured
<div>
    <div>
        <label asp-for="Id">Id</label>
        <p>@Model.Id</p>
    </div>
    <div>
        <label asp-for="Title">Title</label>
        <p>@Model.Title</p>
    </div>
    <div>
        <label asp-for="Description">Description</label>
        <p>@Model.Description</p>
    </div>
    <div>
        <label asp-for="Icon">Icon</label>
        <p><i style="font-size:25px" class="@Model.Icon"></i></p>
    </div>
    <div>
        <form method="post">
            <button class="btn btn-lg btn-pinterest" asp-controller="featured" asp-action="index">Back to Index</button>
        </form>
    </div>
</div>
